/* - Spieldeld - */
.game{
	position: absolute;
	width: 100%;
	height: 100%;
	
	background-image: url("../image/bg.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	position: absolute;
	width: 100%;
	height: 25%;
}
.header img{
	position: absolute;
	height: 80%;
	max-width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

.field{
	position: absolute;
	height: 55%;
	width: auto;
	display: inline-block;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
}

.info{
	position: absolute;
	width: 47%;
	left: -5%;
	top: 0px;
	transform: translateX(-100%);
}
.info img{
	position: absolute;
	height: 80%;
	top: 50%;
	right: 2%;
	transform: translateY(-50%);
}

.field .front{
	height: 100%;
	z-index: 10;
	outline: #1B6683 solid 1.5vh;
	z-index: 20;
}

.field .holder{
	position: absolute;
	width: 130%;
	bottom: -1.5vh;
	left: 50%;
	transform: translate(-50%,50%);
	z-index: -5;
}

/* - Programmierung - */
.sections, .coins{
	position: absolute;
	width: 100%;
	height: 100%;
	left:0px;
	top: 0px;
}

.sections div{
	position: relative;
	float: left;
	top: -16.66%;
	height: 116.66%;
	width: 14.28%;
	
	cursor: pointer;
}
/*selection Pfeil*/
.sections div:hover img{
	display: block;
}
.sections div img{
	width: 100%;
	top: 0px;
	display: none;
	
	animation: selectionAnimation 0.4s ease-in infinite alternate;
	transition: 0.2s;
}
@keyframes selectionAnimation{
	100%{
		transform: translateY(10%);
	}
}
/*Coin*/
.coins{
	z-index:-1;
}
.coins img{
	position: absolute;
	width: 14.28%;
	top: 0%;
	left: 0%;
	transform: scale(1.01);
	transition: 1s;
	
	animation: placeAnimation linear;
	animation-duration: 0.5s;
}
@keyframes placeAnimation{
	0%{
		top: 0%;
	}
}