.startScreen{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	
	background-image: url("../image/startScreen/bg.svg");
	background-color: #6793A0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	transition: 0.8s;
	z-index: 60;
}
.headerStart{
	position: absolute;
	width: 100%;
	height: 40%;
	top: 0;
	left: 0;
}
.headerStart img{
	position: absolute;
	height: 85%;
	max-width: 90%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.settings{
	position: absolute;
	width: 100%;
	height: 50%;
	top: 40%;
}

/* -Input- */
.inputFrame{
	position: relative;
	width: 100%;
	height: 50%;
}
.input{
	position: absolute;
	height: 35%;
	top: 3%;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
}
.input img{
	height: 100%;
	min-width: 90%;
}
.input input{
	position: absolute;
	top: 33%;
	left: 34%;
	font-size: 3vh;
	
	border: none transparent;
	outline: none;
	background-color: transparent;
	color: #165366;
	
	 -moz-appearance: textfield;
}


/* -colorSelection- */
.colorSelection{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	
	height: 45%;
	display: inline-block;
}
.colorSelection img{
	position: relative;
	height: 100%;
	transform: scale(0.75);
	
	transition: 0.2s;
	cursor: pointer;
}
.colorSelection img:hover{
	transform: scale(1);
}
.colorSelection .selected, .colorSelection .selected:hover{
	cursor: default;
	transform: scale(1.2);
}

.startScreen h2{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 3%;
	font-size: 5vh;
	color: #1B7794;
	
	cursor: pointer;
	animation: continueAnimation 1s ease-in-out infinite alternate;
}
@keyframes continueAnimation{
	to{
		transform: scale(0.92);
	}
}